
h1{
    text-align: center;
}
.img-1{
width: 150px;
}
.i{
    list-style-type: none;
    padding: 0px;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
table{
    border: blueviolet;
}